<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landed</title>
</head>
<body>
    <h2> Welcome to Dagobah </h2>

    <form action="/submit" method="post" style="text-align:center;">

        <label for "Science" > Science:</label><br>
        <input type ="text" id="science" name="science" value="0"  style="text-align:center;" ><br>

        <label for "Maths"> Maths:</label><br>
        <input type="text" id="maths" name="maths" value="0" ><br>

        <label for "C"> C:</label><br>
        <input type="text" id="c" name="c" value="0" ><br>

        <label for "Data science"> Data science:</label><br>
        <input type="text" id="science" name="data_science" value="0" ><br>

        <label for "cars"> Select a car:</label><br>
        <select name="cars" id="cars" >
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <br><br>

        <input type="submit"  value="Submit" ><br>
    </form>
</body>
</html>